@import url(base.css);

  * {
    font-family: Arial, sans-serif;
  }

  body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
  }

  header{
    background-color: red;
    color: white;
    padding: 5px 10px;
  }

  h1{
    padding-left: 5px;
  }

  article{
    display: flex;
    margin: 10px;
    background-color: rgb(231, 231, 231);
    max-height: 24vw;
  }

  article > div{
    margin-left: 20px;
    padding-bottom: 10px;
    max-width: 100%;
    flex-grow: 1;
    overflow: auto;
  }

  article > div *{
    font-size: 1rem;
    color: black;
  }

  article div h2{
    font-size: 1.5rem;
  }

  img {
    max-height: 24vw;
    width: auto;
    height: auto;
    border-right: 5px solid red;
  }

  .genre-tag{
    margin-right: 5px;
    background-color: red;
    padding: 8px;
    color: white;
    border-radius: 100px;
    font-size: 0.8rem;
  }

  .article-header{
    margin: 10px 0;
  }

  .article-header *{
    margin: 2px;
  }
